[package]
name = "pica"
version = "0.2.0"
authors = ["Nico Wagner <n.wagner@dnb.de>"]
edition = "2018"
license = "AGPL-3.0-only"
default-run = "pica"

[dependencies]
bstr = "0.2.15"
clap = "3.0.0-beta.2"
clap_generate = "3.0.0-beta.2"
csv = "1.1.6"
flate2 = "1.0"
lazy_static = "1.4.0"
nom = "6.1.2"
regex = "1.4.5"

[dev-dependencies]
tempfile = "3.2"

[lib]
path = "src/lib.rs"
name = "pica"

[[bin]]
path = "src/bin/pica/main.rs"
name = "pica"


[profile.release]
codegen-units = 1
panic = "abort"
lto = true

