[package]
name = "pica"
version = "0.1.0"
authors = ["Nico Wagner <nwagner84@protonmail.com>"]
edition = "2018"
license = "AGPL-3.0-only"
default-run = "pica"

[dependencies]
bstr = "0.2.15"
clap = "3.0.0-beta.2"
clap_generate = "3.0.0-beta.2"
csv = "1.1"
flate2 = "1.0"
nom = "6.1"
rand = "0.8"
regex = "1.4"
rdf = "0.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[dev-dependencies]
tempdir = "0.3.7"

[lib]
path = "src/lib.rs"
name = "pica"

[[bin]]
path = "src/bin/pica/main.rs"
name = "pica"

[[bin]]
path = "src/bin/gnd2skos/main.rs"
name = "gnd2skos"

[profile.release]
lto = true
