[package]
name = "pica"
version = "0.5.0"
authors = ["Nico Wagner <nwagner84@protonmail.com>"]
edition = "2018"
license = "MIT OR Unlicense"
default-run = "pica"

[dependencies]
bstr = "0.2.16"
clap = "3.0.0-beta.2"
clap_generate = "3.0.0-beta.2"
csv = "1.1"
directories = "3.0"
flate2 = "1.0"
lazy_static = "1.4"
nom = "6.1"
rand = "0.8"
regex = "1.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sophia = "0.7.0"
sophia_api = "0.7.0"
toml = "0.5.8"

[dev-dependencies]
tempfile = "3.2"
assert_cmd = "2.0"
predicates = "2.0"

[lib]
path = "src/lib.rs"
name = "pica"

[[bin]]
path = "src/bin/pica/main.rs"
name = "pica"

[[bin]]
path = "src/bin/gnd2skos/main.rs"
name = "gnd2skos"

[profile.release]
codegen-units = 1
panic = "abort"
lto = true
