[package]
name = "pica"
version = "0.9.1"
authors = ["Nico Wagner <nwagner84@protonmail.com>"]
edition = "2021"
license = "MIT OR Unlicense"
default-run = "pica"

[dependencies]
atty = "0.2"
bstr = "0.2"
clap = { version = "3.0", features = ["cargo"] }
clap_complete = "3.0"
csv = "1.1"
directories = "4.0"
oxiri = "=0.1.1"
flate2 = "1.0"
nom = "7.1"
rand = "0.8"
regex = "1.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sophia = "0.7.1"
sophia_api = "0.7.1"
strsim = "0.10"
termcolor = "1.1"
toml = "0.5"
xml-rs = "0.8"

[dev-dependencies]
assert_cmd = "2.0"
predicates = "2.1"
quickcheck = "1.0"
quickcheck_macros = "1.0"
tempfile = "3.2"

[lib]
path = "src/lib.rs"
name = "pica"

[[bin]]
path = "src/bin/pica/main.rs"
name = "pica"

[[bin]]
path = "src/bin/gnd2skos/main.rs"
name = "gnd2skos"

[[example]]
name = "parser"
path = "examples/parser.rs"
test = false

[profile.release]
codegen-units = 1
panic = "abort"
lto = true

[profile.dev]
debug = 0
