.center {
    display: block;
    margin: 20px auto;
    width: 60%;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
}

table thead th {
    text-align: left !important;
}
