name: main

on:
  schedule:
    - cron: '12 13 * * 1'
  push:
    branches: ['main']

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: abbbi/github-actions-tune@v1
      - run: |
          rustup update stable && rustup default stable
          cargo install --force cargo-audit
          cargo generate-lockfile
          cargo audit

  upgrades:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: abbbi/github-actions-tune@v1
      - uses: actions-rs/install@v0.1
        with:
          crate: cargo-upgrades
          version: latest
      - run: |
          cargo upgrades

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: abbbi/github-actions-tune@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: clean
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features --no-fail-fast  # Customize args for your own needs
        env:
          CARGO_INCREMENTAL: '0'
          RUSTFLAGS: '-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort -Zpanic_abort_tests'
          RUSTDOCFLAGS: '-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort -Zpanic_abort_tests'
      - id: coverage
        uses: actions-rs/grcov@v0.1
      - name: Coveralls upload
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ${{ steps.coverage.outputs.report }}

  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: abbbi/github-actions-tune@v1
      - uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: 'latest'
      - name: build
        run: |
          rustup update && rustup default stable
          mkdir -p target/docs
          cargo doc --all --no-deps --target-dir target/docs/api
          mdbook build docs/book --dest-dir ../../target/docs/book

          echo '<meta http-equiv="refresh" content="0; url=api/pica/index.html"><a href="api/pica/index.html">Redirect</a>' >> target/docs/api/index.html
          echo '<meta http-equiv="refresh" content="0; url=book/index.html"><a href=book/index.html">Redirect</a>' >> target/docs/index.html
      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: target/docs
          keep_files: false
          force_orphan: true
